.Results-body {
  background-color: #4c6383;
  min-height: 95.23vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 6%;
}

.header {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 0.5rem;
}

.card img {
  width: auto;
  height: auto;
  min-height: 206px;
}
