.custom-navbar-color {
  background-color: #30435d !important;
}

.logo {
  width: 40px;
  height: auto;
  margin-inline: 20px;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}
