absl-py
aiohttp
aiosignal
annotated-types
anyio
asttokens
astunparse
async-timeout
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
dill
docopt
exceptiongroup
executing
fastapi
fastjsonschema
filelock
flatbuffers
frozenlist
fsspec
gast
google-pasta
grpcio
gunicorn
h11
h5py
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
ml-dtypes
multidict
multiprocess
namex
nbclient
nbconvert
nbformat
nest-asyncio
numpy
opt-einsum
optree
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyarrow-hotfix
pydantic
pydantic_core
Pygments
python-dateutil
python-multipart
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
safetensors
scipy
six
sniffio
soupsieve
stack-data
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf_keras
tinycss2
tokenizers
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
uvicorn
validators
wcwidth
webencodings
Werkzeug
wrapt
xxhash
yarg
yarl