.Results-body {
  background-color: #4c6383;
  min-height: 95.23vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 6%;
}

.enc-container p {
  font-size: 130%;
  font-weight: 600;
  font-style: italic;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
}

.card:hover {
  transform: translateY(-5px); /* Adjust the value to control the amount of pop-up */
}

.card img {
  width: auto;
  height: auto;
  min-height: 206px;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}